# .coveragerc to control coverage.py
[run]
branch = False
include =
    odl/*
omit =
    */__init__.py
    odl/diagnostics/*
    odl/util/*
    
    # Omit untill coveralls supports cuda.
    odl/space/cu_ntuples.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    if self\.debug

    # Printing-related functions
    def __str__
    def __repr__
    def _repr

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    return NotImplemented

    # Skip imports and __all__
    import *
    standard_library.install_aliases()
    __all__

    # Decorators
    @property

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == '__main__':

ignore_errors = True

[html]
directory = htmlcov
