include CONTRIBUTING.md
include LICENSE
include README.md
include requirements.txt
include setup.cfg
include setup.py
include test_requirements.txt
include odl/pytest.ini
exclude pytest.ini
recursive-include odl/test test*.py *test.py
