include CONTRIBUTING.md
include LICENSE
include README.md
include setup.cfg
include setup.py
include odl/pytest.ini
include odl/VERSION
exclude .*
recursive-include odl/test test*.py *test.py
prune conda
prune doc
prune examples
prune tools
